# Week 4 - Objects, Modules, Pandas and Regular Expressions
This week we will review what really makes Python so useful, packages written by others that you can use to do things better, faster, easier. In turn, we will start to discuss how a project can be worked on collaboratively if the code is organized in a way that allows for easy distribution of work. This is done by making your own objects and modules to do repeatable tasks.

This week we will work on regular expressions and Pandas. Regular Expressions help to utilize wildcards for handling text to help solve multiple issues at once in cleaning data, while Pandas is the be-all end-all data cleansing and management tool in Python that any analyst has to know to get the most our of Python.

I should also point out that much of the regular expressions package is built into Pandas as well. This both illustrates the value of the core package (re - regular expressions), and helps illustrate how reusable code can be built into new packages to help make it easier to use.

There is too much to go over everything in these amazing packages, so articles on the basics and the core documentation is linked below:

### Pandas
Pandas is not part of the standard library, but it is part of Anaconda, which is the version of Python we have installed.

Pandas core documentation and home site: https://pandas.pydata.org/

Introduction article to Pandas: https://towardsdatascience.com/a-quick-introduction-to-the-pandas-python-library-f1b678f34673

Introduction video on Pandas: https://www.youtube.com/watch?v=dcqPhpY7tWk

### Regular Expressions (re)
re is part of the standard library in Python. 

re core documentation - https://docs.python.org/3/howto/regex.html   https://docs.python.org/3/library/re.html

regular expressions introduction - https://realpython.com/regex-python/

# Exercises

## Exercise 1 - Selecting Cells in a Data Frame
Use the below generated data frame to print the item number and corresponding unit price for each. Notice the first line, we initialize pandas as the keyword pd. This is to bring in the pandas code for us to use and rename it to a shorter name, reducing keystrokes.

In [1]:
import pandas as pd

raw_data = [['SKU0012', '$12.95'], ['SKU0096', '$199.95'], ['SKU1019', '$4.95'], ['SKU1012', '$1,425.00']]

item_df = pd.DataFrame(raw_data, columns = ['Item_Number', 'Unit_Price'])
item_df

  Item_Number Unit_Price
0     SKU0012     $12.95
1     SKU0096    $199.95
2     SKU1019      $4.95
3     SKU1012  $1,425.00

In [2]:
#example:
print(item_df['Item_Number'][0], 'unit price is', item_df['Unit_Price'][0])

SKU0012 unit price is $12.95

In [3]:
# create code to print each line individually
for i in range(len(item_df.index)):
    print(i)

0
1
2
3

In [4]:
for i in range(len(item_df.index)):
    print(item_df['Item_Number'][0], 'unit price is', item_df['Unit_Price'][0])
    print(item_df['Item_Number'][1], 'unit price is', item_df['Unit_Price'][1])
    print(item_df['Item_Number'][2], 'unit price is', item_df['Unit_Price'][2])
    print(item_df['Item_Number'][3], 'unit price is', item_df['Unit_Price'][3])

SKU0012 unit price is $12.95
SKU0096 unit price is $199.95
SKU1019 unit price is $4.95
SKU1012 unit price is $1,425.00
SKU0012 unit price is $12.95
SKU0096 unit price is $199.95
SKU1019 unit price is $4.95
SKU1012 unit price is $1,425.00
SKU0012 unit price is $12.95
SKU0096 unit price is $199.95
SKU1019 unit price is $4.95
SKU1012 unit price is $1,425.00
SKU0012 unit price is $12.95
SKU0096 unit price is $199.95
SKU1019 unit price is $4.95
SKU1012 unit price is $1,425.00

In [5]:
    print(item_df['Item_Number'][0], 'unit price is', item_df['Unit_Price'][0])
    print(item_df['Item_Number'][1], 'unit price is', item_df['Unit_Price'][1])
    print(item_df['Item_Number'][2], 'unit price is', item_df['Unit_Price'][2])
    print(item_df['Item_Number'][3], 'unit price is', item_df['Unit_Price'][3])

SKU0012 unit price is $12.95
SKU0096 unit price is $199.95
SKU1019 unit price is $4.95
SKU1012 unit price is $1,425.00

## Exercise 2 - Cleaning text and joining two Data Frames
Below is a second data frame that represents an order of these items. There are a few issues you need to deal with in this exercise:
* format the Item Number in the order data frame to match the item data frame
* join the data together to match the quantity and unit price
* transform the text field Unit_Price to a number to calculate the total amount
* create a new column (series) calculating the total amount
* Print the grand total of the order by summing the new calculated totals

In [6]:
order_data = [[12, 5], [96, 9], [1019, 200]]

#error on my part
order_data = pd.DataFrame(order_data, columns = ['Item_Number', 'Quantity'])
order_data

   Item_Number  Quantity
0           12         5
1           96         9
2         1019       200

In [7]:
# create code to complete the steps listed above
#      hint: look up the function .zfill() to help with the missing zeros
#      hint: look up .join() to combine the data
#      hint: mapping with regular expressions can help with converting unit price


# format the Item Number in the order data frame to match the item data frame

In [8]:
'SKU'+'12'.zfill(4)

'SKU0012'

In [9]:
#Backslash \ bc in RegEx $ is a specific thing
import re
x = re.sub("\$", "", '$12.95')
float(x)

12.95

In [10]:
float('$12.95')
'$12.95'

ValueError: could not convert string to float: '$12.95'

In [ ]:
#Change your values

In [ ]:
# join the data together to match the quantity and unit price

In [ ]:
#Change name instead of rewriting over

In [60]:
# transform the text field Unit_Price to a number to calculate the total amount

In [ ]:
# create a new column (series) calculating the total amount

In [ ]:
#  Print the grand total of the order by summing the new calculated totals

In [ ]:
#error on my part

In [62]:
import pandas as pd

raw_data = raw_data = [['SKU0012', float(12.95)], ['SKU0096', float(199.95)], ['SKU1019', float(4.95)], ['SKU1012',float(1425.00)]]


df1 = pd.DataFrame(raw_data, columns = ['Item_Number', 'Unit_Price'])
df1

raw_data2 = ['SKU'+'12'.zfill(4), 5], ['SKU'+'96'.zfill(4), 9], ['SKU'+'1019'.zfill(4), 200], ['SKU'+'1012'.zfill(4), 5]
df2 = pd.DataFrame(raw_data2, columns = ['Item_Number', 'Quantity'])


merge_data = pd.merge(df1, df2)
merge_data

total_amount = merge_data['Unit_Price']* merge_data['Quantity']
merge_data['Total Amount'] = total_amount
merge_data

  Item_Number  Unit_Price  Quantity  Total Amount
0     SKU0012       12.95         5         64.75
1     SKU0096      199.95         9       1799.55
2     SKU1019        4.95       200        990.00
3     SKU1012     1425.00         5       7125.00

In [55]:
grand_total = print(merge_data.sum(axis=0))

Item_Number     SKU0012SKU0096SKU1019SKU1012
Unit_Price                           1642.85
Quantity                                 219
Total Amount                          9979.3
dtype: object